
@font-face{
    font-family: iran-sans;
    src: url(assets/font/Iranian\ Sans.ttf);
}
body{
    font-family: iran-sans; 
}
div.container{
    display: flex;
    flex-direction: column;
}
div.login{
    border: 1px solid rgb(0, 106, 255);
    height: 50px;
    border-radius: 5px;
}
form input{
    width: 100%;
    height: 100%;
}